/* ------------------Main Box -------------------- */
.community-page {
  display: flex;
  margin: 0px;
  width: 100vw;
}

/*-------------------left side box---------------*/

.side-notification-bar {
  float: left;
  position: fixed;
}

.notify-points {
  list-style-type: none;
  background-color: white;
}

/* ------------------Center Box -------------------- */
.community-page-content {
  margin: 0px;
}

.community-form {
  background: white;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.write-post {
  padding: 15px;
  background-color: rgb(245, 245, 245);
}

.community-heading {
  background: rgb(255, 82, 0);
  color: whitesmoke;
  font-family: sans-serif;
  text-align: center;
  margin: 0px;
}
.recent-posts {
  background: rgb(245, 245, 245);
  text-align: center;
}

.profile-information {
  display: flex;
  text-align: left;
}
.post-content {
  background-color: white;
}

.post-tags {
  color: #3498db;
  font-weight: bold;
  text-align: left;
}
.post-icons {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.icon-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 9px 0px;
}

/* -----------------------Right Side Box ------------- */
.profile {
  height: 20em;
  font-family: sans-serif;
}
.profile-block {
  background-image: url("https://almashines.s3.dualstack.ap-southeast-1.amazonaws.com/assets/images/cover/487.jpg?v=1575095450");
  background-size: contain;
}

.profile-circle {
  height: 110px;
  width: 110px;
  position: relative;
  top: 30px;
}

.responsive-side-nav {
  display: flex;
  flex-direction: column;
  display: none;
  width: 100vw;
  align-self: center;
}

@media only screen and (max-width: 1000px) {
  .responsive-side-nav {
    display: block;
  }
  .mobile-hide {
    display: none;
  }
  .community-page-content {
    margin: 0;
  }
}
