.login{
    margin-left:49%;
    margin-top:150px;
    width:44%;
    color:black;
    
}
.card-title{
    margin-left:20px;
    margin-top:20px;
}
.btn{
    background-color:#b80000;
    font-size:20px;
    padding: 5px 5px;
    width:250px;
}
.card-header{
    background-color:#b80000;
    color:white;
}