.Heading
{
    margin: 30px 0px;
    text-align: center;
    /* border-bottom: 2px solid darkcyan; */
}
.Header_Details
{
    display: flex;
    width: 85%;
    background-color: #0074d9;
    color: white;
    flex-direction: row;
    justify-content: center;
    margin: 0px auto;
    border: 1px solid black;
}
.Header_Details h4
{
    /* border: 2px solid cyan; */
    margin: 0px 160px;
}
.Containt_Details
{
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: center;
    margin: 3px 0px 0px 5px;
    /* border: 1px solid black;  */
}
.Containt_Details h5
{
    /* border: 2px solid cyan; */
    margin: 12px 160px 0px 50px;
}
