.Material{
    max-width:850px;
    margin:0 auto;
    margin-bottom:20px;
}
.Material li{
    list-style: none;

}
.Material h2{
    text-align:center;
    margin-bottom:50px;
    font-family:'Montserrat',sans-serif;
    font-weight:700;
}
.List header{
    display:flex;
    background-color:blue;
    padding:0.3rem;
    border:2px black solid;
    margin-bottom:15px;
}
.List header li{
    font-family:'PT Sans Narrow',sans-serif;
    font-weight:bold;
    font-size:1.2rem;
    flex-basis:33.33%;
    color:white;
    text-align:center;
}
