.TT {
  margin: 0 auto;
  width: 700px;
  margin-top: 60px;
}

.TT table {
  min-width: 700px;
  overflow: auto;
}
.TT h2 {
  min-width: 785px;
  text-align: center;
  background-color: red;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-bottom: 10px;
  padding: 0.3rem;
}
.TT th {
  border: 1px black solid;
  width: 150px;
  text-align: center;
  color: red;
  font-family: 'PT Sans Narrow', sans-serif;
}
.TT td {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 800px) {
  .TT {
    width: unset;
  }
  .TT h2 {
    text-align: left;
  }
}
