.h1{
font-weight:bold;
text-align:center;
color:blue;
font-size:300%;
margin-right:10%;
}
.input{
margin-left:15%;
width:80%;
font-weight:bold;

}
.h3{
margin-left:15%;
margin-top:2%;
color:blue;
}
.row{
margin-left:10%;
margin-top:1%;
width:40%;
}
.msg{
font-weight:bold;
margin-left:30%;
margin-top:2%;
width:30%;
height:70%;
text-align:center;
font-size:140%;
}
.btn{
margin-left:20%;
margin-top:2%;
font-weight:bold;
width:40%;
}