

#title{
    text-align: center;
    margin-top: 50px;
    margin-bottom: 30px;
    padding-top: 5px;
}

#contents th{
   margin: auto;
   text-align: center;   
   border: 2px solid black;
   font-family: 'Pt sans narrow ';
   font-family: 700;
}

#contents td{
    border: 2px solid black;
    font-family: 'Pt sans narrow ';
    font-family: 700;
}

.first:hover{
    background: blue;
    color: white;
    font-size: 18px;
}
.first {
    background: blue;
    color: white;
    font-size: 18px;
}
.attendance{
    font-family: 'sans-serif';
    margin-left: 22%;
    margin-right: 22%;
}

#bottom {
    padding-top: 15px;
    width: 1000px;
    margin: auto;
    font-family: 'Montserrat';
}

    #bottom h5 {
        font-family: 'Montserrat';
        font-weight: 400;
        font-size: 18px;
    }


.table th, td{
    border: 2px solid black;
}