#title{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 30px;
    font-family: sans-serif;
    
}

#contents{
   width: 1000px;
   margin: auto;
   text-align: center;   
}

.first{
    background: blue;
    color: white;
    font-size: 18px;
}

.attendance{
    font-family: sans-serif;
}

#bottom {
   font-family: sans-serif;
    padding-top: 40px;

    width: 1000px;
    margin: auto;
}