.internf {
  margin: 100px 5% 0 5%;
}
.Internship {
  text-align: center;
}
.internf h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.Internship button {
  font-family: "Montserrat", sans-serif !important;
  width: auto !important;
  padding: 10px 25px;
}
