#title {
    text-align: initial;
    font-family: 'Montserrat',sans-serif;
    font-weight:700;
    
}

#main_box {
    border: solid 2px;
    border-color: #add8e6;
    border-radius: 10px;
    margin-right: 18%;
    margin-left: 18%;
    margin-top: 5%;
    margin-bottom: 5px;
}
.img-thumbnail {
    display: block;
    width: 200px;
    height: 200px;
    
}
#infohead {
    text-align: center;
    font-size:24px;
    font-family: 'Montserrat',sans-serif;
    font-weight: 700;
}


#info {
    font-size: 20px;
    font-family: 'Pt sans narrow',sans-serif;
    font-weight:400; 
}
#profile_content{
    padding:20px;
}
