#title {
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-weight:700;
    
}

#main_box{
    border: solid 1px;
    margin-right:20%;
    margin-left:20%;
    padding:30px;
    margin-top:100px;

}
.img-thumbnail {
    display: block;
    width: 210px;
    height: 210px;
}


#button{
    
   
    padding: 10px;
    
}


