#title {
  font-family: sans-serif;
}

#contents {
  text-align: center;
}

#first {
  background: #ff5200;
  color: white;
}

.Salary {
  font-family: sans-serif;

  margin: 100px 5% 0 5%;
}
.salary-table-container {
  overflow: auto;
}
