#title{
    text-align: center;
    margin-top: 40px;
    margin-bottom: 30px;
    font-family: sans-serif;
    
}

#contents{
   width: 1300px;
   margin: auto;
   text-align: center; 

  
}

#first{
    background: #ff5200;
    color: white;
    font-size: 18px;
}

.Salary{
    font-family: sans-serif;
}


