/* ------------------Main Box -------------------- */
#main
{
    display: flex;
    margin-top:8em;
    margin-bottom:4em;
}
/* ------------------Left Side Nav Bar -------------------- */
#SideNavBar
{
    width: 15%;
    background-color: whitesmoke;
}
/* ------------------Center Box -------------------- */
#Contentbox
{
    width: 60%;
    margin: 0px 0px 0px 0px;
}

.Community
{
    background: #ff5200;
    color:whitesmoke;
    display: inline-block;
    width: -webkit-fill-available;
    font-family: sans-serif;
    font-size: 38px;
    text-align: center;
    margin: 0px;
}

.buttons{
    text-align: center;
}

.commentheading{
    font-family: sans-serif;
}


.something
{
    margin: 10px 10px;
    display: flex;
    width: -webkit-fill-available;
}
#Tags
{
    background-color: #3d779c; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    margin-left: 1em;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 13px;
    border-radius: 12px;
}
#Visibility1
{
    /* border: 2px solid red; */
    float: left;
    font-size: 15px;
    margin: 5px 5px 5px 10px;
}
#Visibility2
{
    /* border: 2px solid blue; */
    float: left;
    font-size: 15px;
    margin: 5px 5px 5px 5px;
}
#Post
{
    background-color: #3d779c; /* Green */
    border: none;
    color: white;
    padding: 10px 25px;
    margin-right:1em;
    margin-bottom:1em;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 13px;
    border-radius: 12px;
    float:right;
}

.recentheading{
    font-family: sans-serif;
}

#Recent{
    margin-top: 3em;
    height:20em;
}

/* -----------------------Right Side Box ------------- */
#RightSidebox
{
    display: block;
    background-color: whitesmoke;
    width: 30%;
    height:25em;
    font-family: sans-serif;
}

#Notificationbox
{
    display: block;
    background-color: whitesmoke;
    width: 100%;
    height:40%;
    font-family: sans-serif;
}

#Profilebox
{
    display: block;
    background-color: whitesmoke;
    width: 100%;
    height:100%;
    font-family: sans-serif;
}

.profilecontent{
    float: left;
}
