#main
{
    display: flex;
    margin-top:100px;
    
}

/* ------------------Center Box -------------------- */
#Contentbox
{
    width: 60%;
    margin-top: 1px;
    margin-left: 450px;    
    margin-right: 500px;
    
  
}
.Contact
{
    background-color: white;
    color:black;
    display: inline-block;
    width: -webkit-fill-available;
    font-family: sans-serif;
    font-size: 38px;
    text-align: center;
    margin-left: 0px;
    
}

.buttons{
    text-align: center;
}

.commentheading{
    font-family: sans-serif;
}


.something
{
    margin: 10px 10px;
    display: flex;
    width: -webkit-fill-available;
}
#Sendto
{
    /* border: 2px solid red; */
    float: left;
    font-size: 15px;
    margin: 5px 5px 5px 10px;
}
#input{
    width: 500px;
    margin-left: 450px;    
    margin-right: 500px;
}


