*
{
    margin: 0;
    padding: 0;
}
.Button_Container
{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    width: 80%;
    margin: 10px auto;
}
.Button_Container label
{
    color: black;
    font-size: 20px;
    margin: 15px 0px;
    width: 100px;

}
.Display_Button
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 15px 0px;
}
.Display_Button label
{
        font-size: 20px;
}
#faculty , #housekeeping, #student
{
    border: 2px solid green;
    margin: 50px 45px;
    width: 12%;
    font-size: 16px;
}

.Dropdown_button
{
    border: 2px solid black;
    width: 33%;
    outline: 0;
}
.Housekeeping_Container , .faculty_Container
{
    display: flex;
    flex-direction: row;
    margin: 3px auto;
}
.Student_container
{
    display: flex;
    flex-direction: column;
}
.Student_container label
{   
    width: 41px;
    font-size: 19px;
}
.Student_container input
{
    border: 2px solid black;
    margin: 5px 12px;
    width: 35%;
}
#Fetch_Detials
{
    width: 26%;
    height: 37px;
    margin: 15px 35%;
}
/* ------ Pie Chart ------------ */
.Pie_Chart
{
    width: 51%;
    height: 333px;
    /* border: 2px solid black; */
    margin: 0px auto;
}
