.table-container {
  display: flex;
  flex-direction: row;
}

table {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 20px;
}

.table-main th {
  background-color: #ff5200;
  color: white;
  font-size: 20px;
}

table th select {
  width: 100px;
  height: 30px;
  padding: 0px 0px;
  font-size: 1rem;
}

@media screen and (max-width: 800px) {
  .table-container {
    flex-direction: column;
  }
}
