.Main_Backlog 
{
    width: 100%;
    /* background-color: burlywood; */
    /* border: 1px solid rgb(12, 12, 12); */
    margin: 0px 0px;
}
.Mainbox_Backlog, .Mainbox_Grading , .Main_Upcomingexam
{
border: 2px solid black;
background-color: beige; 
width: 60%; 
margin: 20px auto;  
}
.Header_Backlog, .Header_Grading ,.Header_Upcomingexam{
border: 1px solid black;
background-color: #007fff;
color: white;
}
.valueFeild_Backlog, .valueFeild_Grading ,.valueFeild_Upcomingexam
{
    display: flex;
    flex-direction: row;
/* border: 2px solid lightblue; */
background-color: lightblue;
}
#Visibility2
{
    margin: 0px 5px 0px 25px;
}
.valueFeild_Backlog h3, .valueFeild_Grading h3, .valueFeild_Upcomingexam h3{
    margin: 0px 0px 0px 210px;
}
.Values_Backlog ,.Values_Grading , .Values_Upcomingexam {
    display: flex;
    flex-direction: row;
   border: 2px solid lightblue;
   background-color: beige; 
}
.Values_Backlog h3, .Values_Grading h3 , .Values_Upcomingexam h3 {
    margin: 0px 161px 0px 100px;
}