*
{
    margin: 0;
    padding: 0;
}
.Container
{
    display: flex;
    flex-direction: row;
    width: 25%;
    height: 650px;
}
/* ----- App.js Component -------- */
.Main_Component
{
    display: flex;
    flex-direction: row;
}

/* ----------- Nav Bar  Css ------------- */
.staffMenu
{
    background-color: white;
    border: 2px solid black;
    width: 100%;
    height: 100%;
    margin-left: 10px;
}
.staffMenu ul
{
    border-bottom: black;
}
.staffMenu ul li
{
    text-decoration: none;
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.staffMenu ul li a
{

    border-bottom: 2px solid black;
    color: black;
    text-decoration: none;
}

/* ----------- Staff  Css ------------- */

.Staff, .TemporaryStaff,.PermanentStaff ,.SuspendedStaff,.LeaveStaff 

{
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 650px;
    margin: 0px;
    border: 2px solid black;
}
.Staff h2, .TemporaryStaff h2,.PermanentStaff h2 ,.SuspendedStaff h2,.LeaveStaff h2
{
    text-align: center;
    font-size: 30px;
    /* display: inline-block; */
    margin: 20px auto;
}

/* ------ Display -------------  */
.Display_Details
{
    /* border: 2px solid black; */
    background-color: #c4d4e8;
    display: flex;
    flex-direction: row;
    margin: 5px 20px;
}
.Display_Details img
{
    border: 2px solid blueviolet;
    height: 30px;
    width: 30px;
    /* background-color: #bbb; */
    border-radius: 50%;
    display: inline-block;
    margin: 2px 25px;
    
}
.Display_Details h3
{
    text-decoration: underline;
    margin: 5px 400px 0px 0px;
}
.Display_Details button
{
    cursor: pointer;
    border: 2px solid black;
    margin: 2px 2px;
    width: 9%;
    border-radius: 30px;
    outline: none;
}
/* ----------- Dummy Code Plz Do Not Delete This , It May be Usefull in Future ----- */
/* ---------- Temporary Staff  ------------- */
/* .TemporaryStaff
{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0px;
    border: 2px solid black;
}
.TemporaryStaff h2
{
    text-align: center;
    font-size: 30px;
    display: inline-block;
    margin: 20px auto;
} */
/* -------------PermanentStaff----------- */
/* .PermanentStaff
{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0px;
    border: 2px solid black;
}
.PermanentStaff h2 
{
    text-align: center;
    font-size: 30px;
    display: inline-block;
    margin: 20px auto;
} */
/* ---------------SuspendedStaff----------------- */
/* .SuspendedStaff 
{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0px;
    border: 2px solid black;
}
.SuspendedStaff h2
{
    text-align: center;
    font-size: 30px;
    display: inline-block;
    margin: 20px auto;
} */
/* ----------LeaveStaff -------------- */
/* .LeaveStaff 
{
    display: flex;
    flex-direction: column;
    width: 60%;
    margin: 0px;
    border: 2px solid black;
}
.LeaveStaff h2
{
    text-align: center;
    font-size: 30px;
    display: inline-block;
    margin: 20px auto;
}  */