.attendance{
    margin-top: 100px;
    margin-left: 550px;
    margin-right: 500px;
    margin-bottom: 200px;
}

.heading{
    margin-top: 100px;
    text-align:center;
    
}
.button{
    margin-left:300px;

}
#upload{
    color:red;

}