h1{
  font-family: sans-serif;
  font-size: 40px;
}
#container
{
  display: block;
  background-color: whitesmoke;
  margin-left: 20%;
  margin-top: 5%;
  padding-left: 1em;
  width:80%;
  font-family: sans-serif;
}

#Relationbox{
  width:100%;
}

input[type=text], select {
  width: 30%;
  padding: 12px 20px;
  margin: 8px 20px;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 30%;
  background-color: #ff5200;
  color: white;
  padding: 14px 20px;
  margin: 8px 350px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #c44104;
}

#relationheading{
  width: 80%;
  margin-left: 50%;
  margin-top: 3%;
}


#Your_relation
{
  background-color: whitesmoke;
  width: 80%;
  height: 4em;
  margin-left: 20%;
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family:sans-serif;
}
.SearchPeople
{
  width: 30%;
  height: 40px;
  margin: 10px 10px;
}

#connectdecline{
  width: 80%;
  height: 100%;
  background-color: #ff5200;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}
