.RelationFbody {
  margin: 80px 5% 0 5%;
}

.relationFbox {
  text-align: center;
  background-color: whitesmoke;
  display: block;
  padding-bottom: 20px;
}
.relationFbox label {
  font-family: 'Pt sans narrow', sans-serif;
  font-weight: 700;
  width: 100px;
  margin: 0 15px 0 15px;
}

.relationInputs {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 10px 10px;
}
.relationInputs input {
  flex-grow: 1;
}

input[type='text'],
select {
  padding: 12px 20px;
  display: inline-block;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.Your_relation1 {
  background-color: whitesmoke;
  height: 4em;
  margin-top: 5px;
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

@media screen and (max-width: 800px) {
  input[type='text'],
  select {
    padding: 12px 20px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
}
