

.previous {
    margin-left: 22%;
    margin-right: 22%;
    background-color:white;
    padding:30px;
    border:solid 1px #b1b2b2;
    
}

.heading {
    text-align: center;
}

.button {
    align-self: center;
}

#upload {
    color: red;
}

#cgpa {
    padding: 10px;
}
