

.previous {
    margin-left: 22%;
    margin-right: 22%;
    background-color: white;
    padding-left: 40px;
    padding-right: 40px;
    padding-top:10px;
}

.heading {
    text-align: center;
}

.button {
    align-self: center;
}

#upload {
    color: red;
}

#cgpa {
    padding: 10px;
    
}
row{
    margin:60px;
    padding:60px;
}
