/* ------------------ From Examination.js------- */
.Heading
{
    text-decoration: underline;
    text-align: center;
}
/* ------ From Mark Register ------------ */
.Button_Container
{
    background-color: whitesmoke;
    display: flex;
    flex-direction: row;
    width: 50%;
    margin: 10px auto;
}
.Dropdown_button
{
    border: 2px solid black;
    width: 33%;
    outline: 0;
}
.Table_Container, .Examgrade_Container
{
    display: flex;
    flex-direction: row;
    margin: 3px auto;
}
.Class_Container
{
    margin:0px 35px 0px 130px
}
/* ------Grade .js--------------------- */
.grade_container
{
    border: 3px solid black;
}
.grade_container label
{
    /* border: 3px solid red; */
    width: 68px;
    font-size: 20px;
}
.grade_container input
{
    border: 2px solid black;
    width: 135px;
}
#Addgrade
{
    width: 25%;
    display: block;
    margin: 10px auto;

}