#header{
    font-family: sans-serif;
    text-align: center;
    margin-top: 2%;
    margin-bottom: 5%;
    
}

#main-head {
    padding: 1%;
    text-align: center;
    color: #ff5200;

}

/* Time Table */

.first {
    background: red;
    
}

.noHover{
    pointer-events: none;
}

#contents{
    padding-top: 5%;
    width: 1000px;
    margin: auto;
    text-align: center;   
 }
