*
{
    margin: 0;
    padding: 0;
}
/* ------------ New Application----------------- */
.Display_Button
{
    background-color: silver;
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: 70px auto;
}
.Display_Button label
{
    /* border: 3px solid red; */
    margin: 0px 0px;
}
.Display_Button button
{
    background-color: #008000ad;
    color: white;
    width: 11%;
    height: 34px;
    border: 2px solid black;
    margin: 0px 0px 0 335px;
}

/* ------------ New Application Details----------------- */
.NewApplicationDetails_container
{
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
}
.NewApplicationDetails_container label
{
    /* border: 3px solid black; */
    /* display: flex;
    flex-direction: row; */
    width: 35%;
    margin: 4px 0px;
}
.NewApplication_Value
{
    /* border: yellow; */
    /* background-color: aqua; */
    width: 50%;
    margin: 0px 20px;
    height: 30px;
    border-bottom: 2px solid black;
}