.side-drawer {
  height: 85%;
  background: white;
  box-shadow: 1px 0px 7px rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 55px;
  width: 25%;
  max-width: 400px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
}

.side-drawer ul {
  height: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.side-drawer li {
  margin: 0.5rem 0;
}
.side-drawer a {
  color: #ff5200 !important;
  text-decoration: none;
  font: 1.2rem;
  font-weight: bold;
}
.side-drawer.open {
  transform: translateX(0);
}
.side-drawer a:hover,
.side-drawer a:active {
  color: #511845;
}

.home-post {
  display: none;
}

@media screen and (max-width: 800px) {
  .home-post {
    display: block;
  }
}
