.body{
    margin-right: 22%;
    margin-left: 22%;  
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
}

.card{
margin-top: 150px;    
margin-bottom: 150px;
font-family: 'Montserrat',sans-serif;
font-weight: 400;
}

h2{
    font-family: 'Montserrat Bold',sans-serif;
    font-weight: 700;
}

h4{
    font-family: 'Montserrat Bold',sans-serif;
    font-weight: 400;
}

.header th{
    text-align: center;
}

.button1{
    background-color: blue !important;
    font-size:18px !important;
    margin-left:70% ;
    width: 200px;
}


table tr td{
    width: 100%;
    border: 100px;
    white-space: nowrap;
    padding-left: 8px;
    text-align: center;
    font-family: 'Montserrat',sans-serif;
    font-weight: 400;
}

table{
    margin-top: 30px;
}