.body{
    margin-top: 5%;
    margin-left:10%;
    margin-right:10%;
   
}
.h2{
    color:white;
    
}
.cardheader1{
    background-color:#ff2500 !important;
}
.button1{
    background-color: blue !important;
    font-size:18px !important;
    margin-left:70% ;
}

tr:hover {background-color: #f5f5f5;}