.assignmentf-page {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
  display: flex;
  justify-content: center;
}

.assignmentf-card {
  margin: 100px 5% 0 5%;
  font-family: 'Montserrat', sans-serif;
  flex-grow: 1;
}

.header th {
  text-align: center;
}

.button1 {
  background-color: blue !important;
  font-size: 18px !important;
  width: 150px;
  position: absolute;
  right: 20px;
}

table tr td {
  border: 100px;
  padding: 10px 10px;
  white-space: nowrap;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}

table th {
  text-align: center;
}

.table1 {
  width: 130%;
  margin-top: 30px;
  margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
  .button1 {
    position: relative;
  }
  h2 {
    text-align: center;
  }
}
