#head{
    font-family: sans-serif;
    text-align: center;
    margin-top: 5%;
    
}

#mid {
    width: 1220px;
    font-size: 18px;  
    margin: auto;
    padding-top: 3%; 
    padding-bottom: 1%; 
    
}

#post{
    float: right;
    background: white;
    color: black;
    font-size: 100%;
}

#content{
    width: 1170px;
   margin: auto;
   text-align: center;
   padding: 4%;
   

}

#first{
    background: #ff5200;
    color: white;
    font-size: 18px;
}