.h1{
font-weight:bold;
color:black;
font-size:100%;
margin-top:4%;
}
.btn{
margin-left:4%;
width:350px;
}
.card{
width:85%;
height:200px;
margin-left:8%;
background-color:white;
}
.imgs{
font-weight:bold;
text-align:center;
margin-top:2%;
font-size:150%;
}