.Heading {
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 35px;
  text-align: center;
}
.Project_container {
  width: 83%;
  /* border: 3px solid black; */
  display: flex;
  flex-direction: column;
  margin: 0px 0px;
}
.bodyr {
  margin-right: 25%;
  margin-left: 25%;
  padding: 20px;
  position: fixed;
}

.Message {
  /* border: 3px solid tomato; */
  width: 13%;
  font-size: 20px;
  text-align: initial;
  font-weight: 400;
  margin: 6px 6px;
}

.Project_container label {
  /* border: 3px solid yellow; */
  display: inline-block;
  width: 10%;
  /* float: none; */
  font-size: 18px;
  text-align: initial;
  font-weight: 400;
  margin: 20px 11px 0px 80px;
}

.Project_container input {
  border: 2px solid black;
  margin: 0px;
  width: 26%;
  height: 30px;
}

#Save {
  width: 72px;
  background-color: #007bff;
  color: white;
  border: 2px solid black;
  margin: 15px -175px 0px 0px;
}
#textbox {
  /* border: 2px solid rebeccapurple; */
  width: 48%;
  margin: 22px 0px -29px 0px;
}
.Star_Container h4 {
  margin: 25px 0px;
  /* border: 2px solid turquoise; */
}
/* ---------------Display_Button------------------ */
.Display_Button {
  width: 85%;
}

/* -----------  Css For Star Rating ---- */
.rate {
  margin: 0px 0px 0px 0px;
  height: 46px;
  /* float: unset; */
  padding: 0px;
  display: inline-block;
}
.rate:not(:checked) > input {
  position: absolute;
  top: -9999px;
}
.rate:not(:checked) > label {
  float: right;
  width: 1em;
  overflow: hidden;
  white-space: nowrap;
  cursor: pointer;
  font-size: 30px;
  color: #ccc;
}
.rate:not(:checked) > label:before {
  content: '★ ';
}
.rate > input:checked ~ label {
  color: #ffc700;
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
  color: #deb217;
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
  color: #c59b08;
}
/* ------------------------------ */
