body {
  margin: 0;
  font-family: sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
body ul{
	list-style: none;
	padding:0;
}
body a{
	text-decoration:none;
}
body button:hover{
	cursor:pointer;
}

