.cont {
  margin-left: 20%;
  margin-right: 20%;
  height: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.SearchPeople {
  width: 30%;
  height: 40px;
  margin: 10px 10px;
  font-family: 'Pt sans narrow', sans-serif;
  font-weight: 400;
}
#connectdecline {
  width: 80%;
  height: 100%;
  background-color: #138808;
  color: white;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

#year1 {
  background-color: whitesmoke;
  height: 5em;
  margin-top: 5px;
  text-align: center;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

.form-inline {
  margin-top: 0px;
  margin-left: 50%;
}

.large_input_box input {
  background-color: #f7f7f7;
  border: 2px solid black;
}
.Button_Container {
  border: 2px solid darkblue;
}
.Dropdown_button {
  border: 2px solid black;
  width: 10%;
}
.Small_input_box {
  width: 41%;
  margin: 10px auto;
}
.Small_input_box label {
  width: 30%;
  font-weight: 500;
  margin: 10px 12px 0px -8px;
}
.Small_input_box input {
  border: 2px solid black;
  width: 67%;
}
.Display_Button {
  display: flex;
  margin: 10px auto;
  text-align: center;
}
#Pay {
  color: white;
  background-color: #138808;
  margin: 0px 0px 0px 250px;
}

@media screen and (max-width: 800px) {
  .cont {
    margin: unset;
    padding: 5px;
  }
  .SearchPeople {
    height: unset;
    margin: unset;
    font-size: 15px;
  }
  .row select {
    margin: unset;
  }
  .form-inline {
    margin-left: 15px;
  }
  #year1 {
    height: 50px;
    align-items: center;
  }
  #connectdecline {
    padding: 2px;
    height: 50px;
  }
  #Pay {
    margin: unset;
  }
}
