.project {
  margin-left: 22%;
  margin-right: 22%;
  margin-top: 80px;
}

.project h1 {
  padding-top: 30px;
}

.Project_container {
  width: 100%;
  padding-left: 140px;
}

.Project_container input {
  border: 1px solid black;
  border-radius: 3px;
  width: 45%;
  border: 0px;
  padding-top: 1px;
}

.Project_container label {
  width: 45%;
  font-size: 18px;
  text-align: initial;
  font-weight: 400;
}

.submitbtn {
  width: 10px;
}

#chooseFile {
  height: 40px;
  width: 16%;
  background-color: #d63232;
  color: blanchedalmond;
}

.Display_Button {
  display: flex;
  width: 30%;
  flex-direction: row;
  margin: 20px 100px;
}
#Save {
  width: 25%;
  background-color: #d63232;
  color: white;
  margin: 0px 60px 0px 75px;
}
#addProject {
  width: 30%;
  background-color: #0074d9;
  color: white;
  border: 1px solid black;
}
.Add_Project_container {
  display: block;
  align-content: center;
  width: 100%;
}
.Add_Project_container input {
  border: 1px solid black;
  width: 100%;
}

.Add_Project_container label {
  width: 100%;
  font-size: 18px;
  text-align: initial;
  font-weight: 400;
}
#Save_AddProject {
  width: 50%;
  background-color: #d63232;
  color: white;
  margin: 20px 117px;
}

@media screen and (max-width: 800px) {
  .project {
    margin: 0 0;
  }
  .project h1 {
    padding: 0;
  }
  .Project_container {
    padding-left: 40px;
  }
}
