/* -- Main Container -------------------- */


/* -- Project Container -------------------- */


/*.Project_container
{
     border: 3px solid black;
     background-color: blanchedalmond;
}*/

.Project{
    margin-left: 22%;
    margin-right: 22%;
}

.project{
    margin-top: 80px;
}

.project h1{
    padding-top: 30px;
}

.Project_container{
    width:100%;
    padding-left: 140px;
}



.Project_container input
{border: 1px solid black;
    border-radius: 3px;
    width: 45%;
    border: 0px;
    padding-top: 1px;
}

.Project_container label
{
    /* border: 3px solid yellow; */
    width: 45%;
    font-size: 18px;
    text-align: initial;
    font-weight: 400;
    padding-top: 10px;
}

.submitbtn
{
    width: 10px;
  /*  border: 3px solid black;*/
}
/* -- For Choose File button ---------- */
#chooseFile
{
    width: 16%;
    background-color: #d63232;
    color: blanchedalmond;
    /*margin: 35px 0px; */
}
/* ------------ Div for button ex : save add project------------- */
.Display_Button{
    display: flex;
    width: 30%;
    flex-direction: row;
    margin: 20px 100px;
    /* border: 2px solid red; */
}
#Save
{
width: 25%;
background-color:  #d63232;
color: white;
margin: 0px 60px 0px 75px;
}
#addProject
{
    width: 30%;
    background-color:  #0074d9;
    color: white;
    border: 1px solid black;
}
/* --------- In Pop Pup window -------------- */
.Add_Project_container
{
    /* border: 2px solid red; */
    display: block;
    align-content: center;
    width: 100%;
    height: fit-content;
}
.Add_Project_container input
{
    border: 1px solid black;
    /* border-radius: 10px; */
    width: 100%;
}

.Add_Project_container label
{
    /* border: 3px solid yellow; */
    width: 100%;
    font-size: 18px;
    text-align: initial;
    font-weight: 400;
}
#Save_AddProject
{
width: 50%;
background-color: #d63232;
color: white;
margin: 20px 117px;
}
