@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans:ital,wght@1,600&family=PT+Sans+Narrow:wght@700&family=Source+Sans+Pro&display=swap');


.Assignment{
    margin-left: 22%;
    margin-right: 22%;
    background-color:white;
    padding:25px;
    border:solid 1px #b1b2b2;
    font-family: 'Montserrat Regular 400', sans-serif;
}

h2{
    font-weight: 'Montserrat Bold 700', sans-serif;
    padding-bottom: 4px;
}

form{
    margin-top: 75px;
}

input{
    border: 2px solid black;
}

form label{
    padding-top: 7px;
}

#choosefile{
    background-color: #d63232;
    color: blanchedalmond;
}