.assignment {
  margin-left: 22%;
  margin-right: 22%;
  background-color: white;
}

h2 {
  padding-bottom: 4px;
}

#form_assg {
  margin-top: 75px;
}

input {
  border: 2px solid black;
}

form label {
  padding-top: 7px;
  font-family: 'Pt sans narrow';
  font-weight: 700;
}

#choosefile {
  background-color: #d63232;
  color: blanchedalmond;
  height: 45px;
}

@media screen and (max-width: 800px) {
  .assignment {
    margin: 0 0;
  }
}
