.body {
    margin: 0;
    padding: 0;
}

.Card {
    box-shadow: 0 4px 8px 0 gray;
    transition: 0.3s;
    width: 70%;
    left: 20%;
    color: Black;

}

.div {
    width: 100%;
    font-size: 150%;
}