.Feedback {
  display: flex;
  margin: 100px 5% 0 5%;
  flex-direction: column;
  align-items: center;
}
.Feedback h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
}
.Feedback h2 {
  margin: 5px 0;
  font-family: "PT Sans Narrow", sans-serif;
  color: #4169e1;
}
.Feedback h3 {
  margin: 5px 0;
  font-family: "PT Sans Narrow", sans-serif;
  color: gray;
}
.Feedback ul {
  padding: 0;
  list-style: none;
}
.Feedback li {
  border: 1px black solid;
  margin: 20px 0;
  padding: 0 10px;
}
.Feedback li p {
  margin: 5px 0;
  font-family: "Montserrat", sans-serif;
}
.Stars {
  margin: 0 !important;
  padding: 0 !important;
  font-size: 1.5rem;
}
